:root {
    --main-bg-color: rgb(226, 241, 255);
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
}

.main-container {
    width: 560px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 25px;
}

.board-container, .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    justify-content: center;
    background-color: #c3d9f5;
}
.cell {
    height: 98px;
    width: 98px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    font-weight: bold;
    transition: 2ms;
}
.header {
    display: flex;
    font-size: 2rem;
}

.header button{
    width: 100px;
    height: 30px;
}

.next-state-hidden {
    display: none;
}

.next-state {
    display: flex;
    font-size: 35px;
    padding-bottom: 15px;
}

.button-container button {
    border-radius: 25px;
    font-size: 0.8rem;
    border-style: none;
    font-weight: 700;
    cursor: pointer;
}

#start-button {
    background-color: rgb(149, 245, 84);
}

#reset-button {
    background-color: rgb(248, 160, 125);
}

.left-buttons button:active, .right-buttons button:active {
    background-color: rgb(151, 243, 128);

    transform: translateY(4px);
}

.button-container {
    display: flex;
    width: 2rem;
    justify-content: space-evenly;
}

button:hover {
    background-color: rgb(151, 243, 128);
}


.new-bg {
    pointer-events: none;
    background-color: rgb(228, 216, 115);
}

.button-active {
    background-color: rgb(151, 243, 128);
}

.next-state {
    font-size: 2.5rem;
    font-weight: bold;
}